#outerDiv {

    height: 700px;
    position: relative;
    background-color: #1C87CC;
}

#innerDiv {
    width: 700px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -147px;
    margin-left: -320px;
    border: 4px solid white;
    border-radius: 5px;
    color: white;
    padding: 30px;
}